.card-container {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	background-color: #bff1e25d;
	border: 1px solid #fff;
	box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card-container:hover {
	transform: scale(1.05);
}
